body{
    background-image: url('../images/fond_flou.png');
    background-size: cover; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 

}

header{
    /* Border */
    border : 0px;
    border-radius: 10px;
    
    /* Couleurs */
    background-color: aliceblue;
    
    /* margin - padding */
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
    height: 100px;
    width: 70%;
    
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}



header button{
    height: 100px;
    margin-right: 5vw;
    border-radius: 60px;
    padding:0px
}

header img{
    margin: 0px;
}

#logo {
    height: 95px;
    margin-left: 5vw;
}

h1{
    font-family: 'Helvetica';
    color: maroon;
    font-size: 40px;
}

h2{
    display: flex;
    justify-content: center;
    font-family: 'Helvetica';
    font-size : 30px;
    color: maroon;
}

.main_menu{
    padding-top: 10px;
    height: 35vw;
    width: 60%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
}

.icon{
    display: flex;
}
.icon img{
    width: 80%;
    border-radius: 10px;
}


.footer_menu {
    text-decoration : none;
}


.lien {
    text-align: center; 
}

.lien a {
    margin: 0 430px; 
}

a {
    text-decoration: None;

}

.page_profil{
    width:30vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 10px;
}

.page_profil h1{
    color: aqua;
    text-align: center;
    margin-bottom: 5vh;
}

.page_profil p{
    text-align: center;
}
.formulaire_profil{
    background-color: red;
    text-align: center;
}
.page_profil img{
    width: 45%;
    display: flex;
    margin:auto;
}

.page_profil button{
    /*background-color: red;*/
    width: 10vw;
    border:0px;
}