body{
    background-color: bisque
}





h1{
    font-family: 'Helvetica';
    color: maroon;
    font-size: 40px;
}
h2{
    font-family: 'Helvetica';
}
h3{
    font-family: 'Helvetica';
}
h4{
     font-family: 'Helvetica';

}

}



